@charset "utf-8";
/*Time:20160707*/
/*Author:Lin Yuan*/
/*登录页*/
.login-banner {
    width: 100%;
    height: 579px;
    border-top: 1px solid #DFDFE1;
    background-color: #fff;
    position: relative;
}

.breadcrumb {
    margin: 10px 0px 10px 190px
}

.breadcrumb li a, .login-banner .breadcrumb li {
    font-size: 12px;
    color: #9E9E9E
}

.breadcrumb li.lg-active {
    color: #373737;
    font-weight: bold
}

.login-banner .img {
    width: 100%;
    height: 540px;
}

.login-con {
    position: absolute;
    top: 100px;
    right: 17%;
    width: 470px;
    height: 390px;
    background-color: #fff;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
}

.login-con p:first-child {
    letter-spacing: 2px;
    width: 140px;
    height: 50px;
    margin: 25px auto 35px;
    color: #C41820;
    font-size: 32px;
    font-family: "微软雅黑";
    font-weight: bold;
    border-bottom: 2px solid #C41820
}

.login-con p:last-child {
    text-align: right;
    padding-right: 15px
}

.login-con p:last-child a {
    color: #6F6A6C
}

.form-horizontal .form-group {
    margin-bottom: 20px;
}

.form-control {
    border-radius: 4px
}

.form-horizontal .form-group > label {
    text-align: right;
    margin-left: 20px;
    padding: 7px 0px 0px;
    color: #303236;
    font-family: "微软雅黑"
}

.form-horizontal .inp {
    padding: 0px;
    width: 227px
}

.form-horizontal .span {
    padding-top: 7px;
    padding-left: 15px;
    font-family: "微软雅黑";
}

.form-horizontal .span a {
    color: #C3181E
}

.form-horizontal .span1, .form-horizontal .span2 {
    height: 15px;
    display: none;
    padding-top: 4px;
    padding-left: 19px;
    font-family: "微软雅黑";
    color: #C3181E
}

.checkbox .rem {
    margin-left: 5px
}

.log {
    width: 98px;
    height: 40px;
    background-color: #F2434A;
    border-radius: 8px;
    margin-left: 40px;
    color: #fff;
    font-family: "微软雅黑";
    font-size: 18px;
}

.zc {
    height: 40px;
    line-height: 40px;
}

.zc span a {
    color: #275DBE;
    font-family: "微软雅黑"
}

/*我要融资*/
.rz {
    border-top: 1px solid #DFDFE1;
    border-bottom: 1px solid #DFDFE1;
    height: 35px;
    background-color: #fff
}

.regist .mc h3 {
    text-align: center;
    font-family: "微软雅黑";
    color: #BF1A20;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 0px;
    padding-top: 20px;
}

.rz-label {
    width: 47%;
    margin: 0 auto;
    color: #4B4B4B
}

.item-btn {
    padding-top: 9px;
    width: 23%;
    margin: 0 auto;
    height: 40px;
    margin-top: 15px;
}

.yz-text {
    width: 100px;
    height: 22px;
    line-height: 22px;
    margin-right: 15px;
}